@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Making music</h1>
    <h2>My story:</h2>
    <p>
        I started off really into science from K to 6th grade. I thought that science could give me the answers to the universe.
        But instead I found that science only makes predictions about results. It does not provide world philosophies.
        My foray into music began when my mother offered to send me to piano lessons so I could play the piano like my cousins.
        I did those lessons from 3rd to 8th grade. Then I decided that I liked composing and improvising on the piano more.
        In high school I would play whatever came to my mind on the piano after class for a couple hours every day.
        I started off struggling to make notes sound good or expressive, but I got better with time. But I struggled to make recorded music.
    </p>
    <p>
        I had only ever recorded me playing the piano live. I tried to make a song once by recording me playing every part of the song. The song was titled "The Devil's In the Details",
        which was quite the ironic title, because I did not pay attention to the details of making that song and it sounded quite atrocious.
        That was Sophomore year. It wasn't until my Senior year when I stepped back into making music.
    </p>
    <p>
        Then came my senior year, and with it the Pandemic. I had a lot more time on my hands to make music.
        So I decided to finally start producing recorded songs. And, may I add, some were not that bad.
        Some other songs were tremendously horrible. Now all of them are not available for public access XD
        But it prepared me to then make songs on the piano for my mission that I would post on Facebook as a form of finding.
        Now I am a ward choir director where my time songwriting has helped me with arranging hymns.
        I am also working on making a musical about my life after my mission that I will likely never share publically.
    </p>
    <h3>A piano like my family's piano in high school</h3>
    <img src="pianoLikeMine.jpg" alt="A piano like my piano">
    <h3>A dog like my family's dog when I was in high school</h3>
    <img src="dogLikeMyDog.jpg" alt="A dog like my dog">

</div>